body {
  background: url("../src/images/clouds.jpg");
  font-family: "Abril Fatface", cursive;
  margin: auto;
}

h1 {
  text-align: right;
  padding: 10px;
  color: whitesmoke;
  font-size: 25px;
  border: none;
  border-radius: 5%;
}

.card-main {
  background-color: #97cba9;
  margin: 75px;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
  border-radius: 13%;
  opacity: 0.8;
}

.search-style {
  border: none;
  background-color: #7dace4;
  padding: 1%;
  border-radius: 5%;
}

.submit-style {
  position: relative;
  border: none;
  color: whitesmoke;
  background-color: #7dace4;
  padding: 1%;
  border-radius: 5%;
}

#current-location {
  border: none;
  color: whitesmoke;
  background-color: #7dace4;
  padding: 2%;
  font-size: small;
  border-radius: 50%;
}

#current-location:hover,
.submit-style:hover {
  background-color: whitesmoke;
  color: #7dace4;
}

h2 {
  text-align: left;
  color: whitesmoke;
  font-size: 65px;
  padding-left: 1%;
}

h2:first-letter {
  text-transform: capitalize;
}

ul {
  text-align: right;
  padding-right: 10%;
  padding-bottom: 1%;
  color: #005689;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-line {
  text-transform: capitalize;
}

.weather-temperature {
  cursor: default;
  text-decoration: none;
  font-size: 50px;
  color: whitesmoke;
}

.high {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5%;
  font-size: 50px;
}

.low {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5%;
  font-size: 30px;
}

.current-weather {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 1%;
  padding-top: 0;
  font-size: 98px;
}

.weekly-forecast {
  color: #005689;
  font-size: 20px;
  padding-bottom: 5%;
  padding-top: 5%;
}

.relax {
  background-color: rgb(255, 192, 203, 0.6);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border: 6px solid pink;
  margin: 0 auto;
  padding: 10%;
  color: #005689;
  font-size: 30px;
  border-radius: 5%;
}

audio {
  padding: 3%;
  margin-top: 2%;
}
.imgFun {
  border-radius: 5%;
  border: 8px solid pink;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #97cba9;
  size: 20px;
  padding-top: 5%;
}
.music {
  padding-bottom: 3%;
  padding-top: 5%;
}
