body {
  background-image: url("images/cork2.jpg");
  font-family: "Abril Fatface", cursive;
  margin: auto;
  background-color: #fcf4d9;
}

h1 {
  padding: 10px;
  text-align: left;
  color: #5e87b8;
  font-size: 60px;
  border: 6px solid pink;
  width: fit-content;
  background-color: pink;
  margin: 1%;
}

.card-intro,
.card-main {
  background-color: #97cba9;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  text-align: center;
}

.ny a,
.lon a,
.hk a,
.ca a {
  color: whitesmoke;
  cursor: pointer;
}

.ny a:hover,
.lon a:hover,
.hk a:hover,
.ca a:hover {
  color: #7dace4;
}

.search-style {
  border: none;
  background-color: #7dace4;
  padding: 1%;
}

.submit-style {
  position: relative;
  border: none;
  color: whitesmoke;
  background-color: #7dace4;
  padding: 1%;
}

.carzzzd-body {
  padding: 3%;
}

h2 {
  text-align: left;
  color: whitesmoke;
  font-size: 65px;
  padding-left: 1%;
}

h2:first-letter {
  text-transform: capitalize;
}

ul {
  text-align: right;
  padding-right: 10%;
  padding-bottom: 10%;
  color: #dde0ab;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-line {
  text-transform: capitalize;
}

.weather-temperature .active {
  background-color: #97cba9;
  cursor: default;
  text-decoration: none;
  font-size: 50px;
  color: whitesmoke;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.high {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5%;
  font-size: 50px;
}

.low {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5%;
  font-size: 30px;
}

.current-weather {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 1%;
  padding-top: 0;
  font-size: 98px;
}

.sunny {
  color: #f8b595;
  font-size: 45px;
  padding-bottom: 5%;
}

.cloudy-sun {
  color: #f67280;
  font-size: 45px;
}

.cloudy-sun-main {
  color: #f67280;
  padding-bottom: 5%;
  font-size: 98px;
}

.cloud {
  color: #c06c84;
  padding-bottom: 5%;
  font-size: 45px;
}

.thunder {
  color: #6c5b7c;
  padding-bottom: 5%;
  font-size: 45px;
}

.relax {
  background-color: rgb(255, 192, 203, 0.6);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border: 6px solid pink;
  margin: 0 auto;
  padding: 10%;
  color: #005689;
  font-size: 30px;
}

audio {
  padding: 3%;
  margin-top: 2%;
}
.imgFun {
  border-radius: 5%;
  border: 8px solid pink;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #ffff;
  size: 20px;
  padding-top: 5%;
}
.music {
  padding-bottom: 3%;
  padding-top: 5%;
}
